<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All available help offers
    </h1>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr class="table-secondary">
        <th>
          Title of Offer
        </th>

        <th>
          Details
        </th>

        <th>
          Offer available from...&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </th>

        <th>
          ...to &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        </th>
        

        <th>
          Location
        </th>


        <th>
          User
        </th>


        <th>
        </th>
      </tr>

      <% @help_offers.each do |help_offer| %>
      <tr>

        <td class="font-weight-bold">
          <%= help_offer.title %>
        </td>

        <td>
          <%= help_offer.description %>
        </td>

        <td>
          <%= help_offer.date_begin %>
        </td>

        <td>
          <%= help_offer.date_end %>
        </td>

        <td>
          <%= help_offer.location %>
        </td>

        <td>
          <%= help_offer.offering.username %>
        </td>

        <td>
          <a href="/help_offers/<%= help_offer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<br>
<br>
<br>
<br>
<hr>
<a type="button" class="btn btn-success btn-lg btn-block" href="/new_help_offer">Add a new help offer</a>

<hr>
