<div class="jumbotron">
<span class="badge badge-success">Help Offer</span> 
  <h1 class="display-4"><%= @help_offer.title %></h1>
  <p class="lead">&nbsp;&nbsp;<%= @help_offer.description %></p>
  <hr class="my-4">
   <table class="table table-borderless">
      <tr>
        <td class="font-weight-bold">
            Period:
        </td>
        <td>
            <%= @help_offer.date_begin %> to <%= @help_offer.date_end %>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold">
            User:
        </td>
        <td>
            <%= @help_offer.offering.username %>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold">
            Location:
        </td>
        <td>
            <%= @help_offer.location %>
        </td>
      </tr>
      <tr>
        <td class="font-weight-bold">
            Offer created: 
        </td>
        <td>
            <%= time_ago_in_words(@help_offer.created_at) %> ago
        </td>
      </tr>
        <tr>
        <td class="font-weight-bold">
            Offer last updated:
        </td>
        <td>
            <%= time_ago_in_words(@help_offer.updated_at) %> ago
        </td>
      </tr>
      </table>
    <hr>
  <div>
<h2>Comments</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">User</th>
    <th scope="col">Comment</th>
    <th scope="col">Posted</th>
  </tr>
  </thead>

  <% @help_offer.comment_help_offers.each do |comment| %>
  <tr class="table-active">
  <tbody>
    <td>
      <%= comment.commenter.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at) %> ago
    </td>
  </tr>
  </tbody>
  
  <% end %>
</table>

<hr>

<h4>Add a new comment</h4>

<form action="/insert_comment_help_offer" method="post">
  <input id="help_offer_id" type="hidden" value="<%= @help_offer.id %>" name="query_help_offer_id">
  <input type="hidden" name="query_author_id" value=<%= @users.where({ :id => session.fetch(:user_id)}).at(0).id %>>

  <br>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>
  <br>
  <br>
  <button class="btn btn-primary">Add comment</button>
  
</form>
</div>

<br>
<hr>

 <% if @current_user == @help_offer.offering%>
<div>
  <div>
    <h4>
      Edit help offer
    </h4>
    <form action="/modify_help_offer/<%= @help_offer.id %>"  method="post" >

    <input type="hidden" name="query_offering_id" value=<%= @users.where({ :id => session.fetch(:user_id)}).at(0).id %>>
  

      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <textarea id="title_box" name="query_title" class="form-control" rows="3"><%= @help_offer.title %></textarea>
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" class="form-control" rows="3"><%= @help_offer.description %></textarea>
      </div>

      <div class="form-group">
        <label for="date_begin_box">
          Date begin
        </label>

        <input type="date" id="date_begin_box" name="query_date_begin" class="form-control" value="<%= @help_offer.date_begin %>">
      </div>

      <div class="form-group">
        <label for="date_end_box">
          Date end
        </label>

        <input type="date" id="date_end_box" name="query_date_end" class="form-control" value="<%= @help_offer.date_end %>">
      </div>

      <div class="form-group">
        <label for="location_box">
          Location
        </label>

        <textarea id="location_box" name="query_location" class="form-control" rows="3"><%= @help_offer.location %></textarea>
      </div>

      <button class="btn btn-block btn-outline-primary">
        Update help offer
      </button>
    </form>
    <br>
    <form action="/delete_help_offer/<%= @help_offer.id %>"  method="get" >
     <button class="btn btn-block btn-primary">
        Delete help offer
      </button>
    </form>
    
  </div>
</div>

  <% end %>
<hr>
</div>


