<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Details of offer "<%= @help_offer.title %>"
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/help_offers" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <% if @current_user == @help_offer.offering%>
      <div class="col">
        <a href="/delete_help_offer/<%= @help_offer.id %>" class="btn btn-block btn-outline-secondary">
          Delete help offer
        </a>
      </div>
      <% end %>
    </div>

    <dl>


      <dt>
        Title
      </dt>
      <dd>
        <%= @help_offer.title %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @help_offer.description %>
      </dd>

      <dt>
        Offer valid from
      </dt>
      <dd>
        <%= @help_offer.date_begin %>
      </dd>

      <dt>
        Offer valid to
      </dt>
      <dd>
        <%= @help_offer.date_end %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @help_offer.location %>
      </dd>

      <dt>
        Created 
      </dt>
      <dd>
        <%= time_ago_in_words(@help_offer.created_at) %> ago
      </dd>

      <dt>
        Last updated
      </dt>
      <dd>
        <%= time_ago_in_words(@help_offer.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
<h2>Comments</h2>

<table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">User</th>
    <th scope="col">Comment</th>
    <th scope="col">Posted</th>
  </tr>
  </thead>

  <% @help_offer.comment_help_offers.each do |comment| %>
  <tr class="table-active">
  <tbody>
    <td>
      <%= comment.commenter.username %>
    </td>

    <td>
      <%= comment.body %>
    </td>

    <td>
      <%= time_ago_in_words(comment.created_at) %>
    </td>
  </tr>
  </tbody>
  
  <% end %>
</table>

<hr>

<h3>Add a new comment</h3>

<form action="/insert_comment_help_offer" method="post">
  <input id="browser_photo_id" type="hidden" value="<%= @help_offer.id %>" name="query_help_offer_id">
  <input type="hidden" name="query_author_id" value=<%= @users.where({ :id => session.fetch(:user_id)}).at(0).id %>>

  <br>
  <textarea id="browser_comment" name="query_body" placeholder="Enter a comment..."></textarea>
  <br>
  <button>Add comment</button>
</form>
</div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h3>
      Edit help offer
    </h3>

    <% if @current_user == @help_offer.offering%>
    <form action="/modify_help_offer/<%= @help_offer.id %>"  method="post" >

    <input type="hidden" name="query_offering_id" value=<%= @users.where({ :id => session.fetch(:user_id)}).at(0).id %>>
  

      <div class="form-group">
        <label for="title_box">
          Title
        </label>

        <textarea id="title_box" name="query_title" class="form-control" rows="3"><%= @help_offer.title %></textarea>
      </div>

      <div class="form-group">
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" class="form-control" rows="3"><%= @help_offer.description %></textarea>
      </div>

      <div class="form-group">
        <label for="date_begin_box">
          Date begin
        </label>

        <input type="date" id="date_begin_box" name="query_date_begin" class="form-control" value="<%= @help_offer.date_begin %>">
      </div>

      <div class="form-group">
        <label for="date_end_box">
          Date end
        </label>

        <input type="date" id="date_end_box" name="query_date_end" class="form-control" value="<%= @help_offer.date_end %>">
      </div>

      <div class="form-group">
        <label for="location_box">
          Location
        </label>

        <textarea id="location_box" name="query_location" class="form-control" rows="3"><%= @help_offer.location %></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update help offer
      </button>
    </form>
    <% else %>
    <dd>
      You need to be signed in in order to edit this offer.
      <br>
      <br>
      <a type="button" class="btn btn-outline-primary" href="/user_sign_in">
        Sign in here
      </a>
  </dd>
  </div>
</div>

  <% end %>
<hr>

