<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All available help requests
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          Title of Request
        </th>

        <th>
          Details
        </th>

        <th>
          Help needed from...
        </th>

        <th>
          ...to
        </th>

        <th>
          Location
        </th>


        <th>
          User
        </th>


        <th>
        </th>
      </tr>

      <% @help_requests.each do |help_request| %>
      <tr>

        <td>
          <%= help_request.title %>
        </td>

        <td>
          <%= help_request.description %>
        </td>

        <td>
          <%= help_request.date_begin %>
        </td>

        <td>
          <%= help_request.date_end %>
        </td>

        <td>
          <%= help_request.location %>
        </td>

        <td>
          <%= help_request.requester.username %>
        </td>

        <td>
          <a href="/help_requests/<%= help_request.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<a type="button" class="btn btn-secondary btn-lg btn-block" href="/new_help_request">Add a new help request</a>

<hr>
